{{ define "main" }}
  <header class="section-page-title">
    {{ if isset .Data "Term" }}
      Posts About - {{ .Data.Term }}
    {{ else }}
      All Posts
    {{ end }}
  </header>

  {{ range .Pages.GroupByPublishDate "2006" }}
    <div class="list-page-year">{{ .Key }}</div>
    <ul class="section-page-list">
      {{ range .Pages }}
        <li class="section-page-item">
          <a class="link-hover" href="{{ .RelPermalink }}">
            {{.Title}}
          </a>
          <time>{{ dateFormat "Jan 02" .Date }}</time>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
