<link rel="stylesheet" href="https://js.axlis.cn/katex/katex.css">

<script src="https://js.axlis.cn/katex/katex.js"></script>
<script src="https://js.axlis.cn/katex/render.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    renderMathInElement(document.body, {
      delimiters: [
        {
          left: '$$',
          right: '$$',
          display: true
        },
        {
          left: '$',
          right: '$',
          display: false
        }
      ],
      throwOnError: false
    })
  })
</script>
