:root {
    --maincolor: #aba2a2;
    --hovercolor: #797979;
}

html {
    font-size: 16px; /* base font size */
    text-size-adjust: none; /* disalbe font adjust in mobile */
    -webkit-text-size-adjust: none; /* vendor prefix for compatibility */
}

body {
    margin: 0; /* remove user agent style */
    word-wrap: break-word;
    color: #232333;
    line-height: 1.6rem;
    font-family: "Fira Code", monospace;
}

.container {
    margin:    auto;
    padding:   30px;
    max-width: 1100px;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.4rem;
}

::selection {
    background: rgb(128, 241, 241);
}

/* Table */
table {
    box-shadow: 2px 2px 3px #00000021;
    border-spacing: 0;
}

th, td {
    padding: 5px 15px;
    border: 1px double #e7cd84;
}

p {
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 3px dotted var(--maincolor);
    margin: 1em 0;
}

blockquote {
    border-left: 3px solid var(--maincolor);
    color: #737373;
    margin: 0;
    padding-left: 1em;
}

a {
    border-bottom: 3px solid var(--maincolor);
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid #4fc08d;
}

ul {
    list-style: none;
    padding-left: 2ch;
}

ul li {
    text-indent: -2ch;
}

ul li::before {
    content: '🔸 ';
    font-weight: bold;
}

/* Images */
img {
    border: 3px solid #ececec;
    max-width: 100%;
}

figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 100%;
}

figure img {
    max-height: 500px;
}

@media screen and (min-width: 600px) {
    figure {
        padding: 0 40px;
    }
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: '↳ ';
}

/* Code blocks */
code {
    background-color: #f1f1f1;
    padding: .1em .2em;
    font-family: "Fira Code", monospace;
}

pre {
    border: 3px solid #ececec;
    line-height: 1.4;
    overflow-x: auto;
    padding: 1em;
}

pre code {
    padding: 0;
    color: inherit;
    font-size: 100%;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    margin: 1.4em 0 0.5em 0;
}

h1::before {
    color: var(--maincolor);
    content: '# ';
}

h2::before {
    color: var(--maincolor);
    content: '## ';
}

h3::before {
    color: var(--maincolor);
    content: '### ';
}

h4::before {
    color: var(--maincolor);
    content: '#### ';
}

h5::before {
    color: var(--maincolor);
    content: '##### ';
}

h6::before {
    color: var(--maincolor);
    content: '###### ';
}

/* Footer */
footer {
    margin-top: 1em;
}

/* Common */
.title h1 {
    margin-bottom: 0;
}

time {
    color: grey;
}

/* Posts */
article .title {
    margin-bottom: 1em;
}

.tags li::before {
    content: "🏷️ ";
}

.highlight {
    position: relative;
}

.highlight pre code[class*="language-"]::before {
    background: black;
    border-radius: 0 0 0.25rem 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 0;
}

.highlight pre code[class="language-c++"]::before {
    content: "C++";
    background: brown;
    color: white;
}

.highlight pre code[class="language-javascript"]::before {
    content: "JS";
    background: yellow;
    color: black;
}

.highlight pre code[class*="language-shell"]::before {
    content: "SHELL";
    background: green;
    color: white;
}

.highlight pre code[class*="language-python"]::before {
    content: "PYTHON";
    background: blue;
    color: yellow;
}

.highlight pre code[class*="language-go"]::before {
    content: "GO";
    background: cyan;
    color: black;
}
