:root {
    --gap: 24px;
    --tiny-gap: 16px;
    --main-color: #aba2a2;
    --link-color: #42b883;
}

::selection {
    background: #80f1f1;
}

html {
    font-size: 16px; /* base font size */
    text-size-adjust: none; /* disalbe font adjust in mobile */
    -webkit-text-size-adjust: none; /* vendor prefix for compatibility */
}

body {
    margin: 0; /* remove user agent style */
    word-wrap: break-word;
    color: #232333;
    line-height: 1.6rem;
    font-family: "Fira Code", monospace;
}

.container {
    margin: auto;
    padding: 0 30px;
    max-width: 1100px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-top: var(--tiny-gap);
}

.main-header, .main-entry, .main-footer {
    margin-bottom: var(--gap);
}

.main-footer hr {
    border: 0;
    border-bottom: 3px dotted var(--main-color);
    margin: var(--tiny-gap) 0;
}

.pagination {
    display: flex;
}

.page-link {
    border-radius: 18px;
    padding: 0 16px;
    color: #ffffff;
    line-height: 36px;
    text-decoration: none;
    background-color: #1e1e1e;
}

.page-next {
    margin-left: auto;
}

.article-entry {
    position: relative;
    padding: var(--gap);
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    margin-bottom: var(--gap);
}

.article-entry header {
    margin-bottom: var(--tiny-gap);
    font-size: 24px;
}

.article-entry .summary {
    margin-bottom: var(--tiny-gap);
}

.article-entry .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-footer a {
    font-weight: bold;
}

.post a:hover,
.term a:hover,
.main-header a:hover,
.main-footer a:hover {
    color: var(--link-color);
}

.article-content a {
    border-bottom: 3px solid var(--main-color);
}

.article-content a:hover {
    border-bottom: 3px solid var(--link-color);
}

/* Table */
table {
    box-shadow: 2px 2px 3px #00000021;
    border-spacing: 0;
}

th, td {
    padding: 5px 15px;
    border: 1px double #e7cd84;
}

p {
    line-height: 1.5;
}

blockquote {
    border-left: 3px solid var(--main-color);
    color: #737373;
    margin: 0;
    padding-left: 1em;
}

ul {
    list-style: none;
    padding-left: 2ch;
}

ul li {
    text-indent: -2ch;
}

ul li::before {
    content: '🔸 ';
    font-weight: bold;
}

/* Images */
img {
    border: 3px solid #ececec;
    max-width: 100%;
}

figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 100%;
}

figure img {
    max-height: 500px;
}

@media screen and (min-width: 600px) {
    figure {
        padding: 0 40px;
    }
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: '↳ ';
}

/* Code blocks */
code {
    padding: 0 3px;
    border: 2px solid #e7eaed;
    border-radius: 4px;
    background-color: #f3f4f4;
    font-family: "Fira Code", monospace;
}

pre {
    border: 3px solid #ececec;
    line-height: 1.4;
    overflow-x: auto;
    padding: 1em;
}

pre code {
    display: block;
    padding: 0;
    border: 0;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    margin: 1.4em 0 0.5em 0;
}

h1::before {
    color: var(--main-color);
    content: '# ';
}

h2::before {
    color: var(--main-color);
    content: '## ';
}

h3::before {
    color: var(--main-color);
    content: '### ';
}

h4::before {
    color: var(--main-color);
    content: '#### ';
}

h5::before {
    color: var(--main-color);
    content: '##### ';
}

h6::before {
    color: var(--main-color);
    content: '###### ';
}

/* Common */
.title h1 {
    margin-bottom: 0;
}

time {
    color: grey;
}

/* Posts */
article .title {
    margin-bottom: 1em;
}

.tags li::before {
    content: "🏷️ ";
}

.highlight {
    position: relative;
}

.highlight pre code[class*="language-"]::before {
    background: black;
    border-radius: 0 0 0.25rem 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 0;
}

.highlight pre code[class="language-c++"]::before {
    content: "C++";
    background: brown;
    color: white;
}

.highlight pre code[class="language-javascript"]::before,
.highlight pre code[class="language-js"]::before {
    content: "JS";
    background: yellow;
    color: black;
}

.highlight pre code[class*="language-shell"]::before {
    content: "SHELL";
    background: green;
    color: white;
}

.highlight pre code[class*="language-python"]::before {
    content: "PYTHON";
    background: blue;
    color: yellow;
}

.highlight pre code[class*="language-go"]::before {
    content: "GO";
    background: cyan;
    color: black;
}
